In [2]:
import pandas as pd
import os
import sqlalchemy

In [71]:
pd.__version__

'1.4.2'

In [56]:
os.getcwd()

'C:\\Users\\stude\\OneDrive\\Documents\\Zoomcamp_2024_Data_Engineering\\Week1'

In [57]:
os.listdir()

['.ipynb_checkpoints',
 'Dockerfile',
 'ingest_data.py',
 'ny_taxi_postgres_data',
 'output.csv',
 'pipeline.py',
 'services',
 'upload-data.ipynb',
 'yellow_tripdata_2019-01.csv',
 'yellow_tripdata_2021-01.csv.gz']

In [58]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz',nrows=100)

In [19]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [43]:
from sqlalchemy import create_engine

In [66]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [67]:
engine.connect()

In [46]:
df_iter = pd.read_csv('yellow_tripdata_2019-01.csv',iterator = True,chunksize=100000)

In [32]:
df = next(df_iter)

In [23]:
len(df)

100000

In [24]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [33]:
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

1000

In [47]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

0

In [ ]:
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [48]:
from time import time

In [49]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
    
    t_end = time()
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 15.237 second
inserted another chunk..., took 14.729 second
inserted another chunk..., took 15.003 second
inserted another chunk..., took 13.308 second
inserted another chunk..., took 13.239 second
inserted another chunk..., took 13.826 second
inserted another chunk..., took 13.704 second
inserted another chunk..., took 13.771 second
inserted another chunk..., took 13.535 second
inserted another chunk..., took 12.792 second
inserted another chunk..., took 13.042 second
inserted another chunk..., took 15.059 second
inserted another chunk..., took 17.285 second
inserted another chunk..., took 16.192 second
inserted another chunk..., took 15.670 second
inserted another chunk..., took 15.424 second
inserted another chunk..., took 13.867 second
inserted another chunk..., took 12.246 second
inserted another chunk..., took 11.823 second
inserted another chunk..., took 12.097 second
inserted another chunk..., took 11.603 second
inserted another chunk..., took 12.558 second
inserted another chunk..., took 12.447 second
inserted another chunk..., took 11.640 second
inserted another chunk..., took 12.326 second
inserted another chunk..., took 12.500 second
inserted another chunk..., took 11.981 second
inserted another chunk..., took 12.669 second
inserted another chunk..., took 12.086 second
inserted another chunk..., took 12.318 second
inserted another chunk..., took 12.469 second
inserted another chunk..., took 12.579 second
inserted another chunk..., took 12.939 second
inserted another chunk..., took 12.535 second
inserted another chunk..., took 12.584 second
inserted another chunk..., took 12.294 second
inserted another chunk..., took 12.538 second
inserted another chunk..., took 13.225 second
inserted another chunk..., took 11.889 second

KeyboardInterrupt:

In [60]:
os.listdir()

['.ipynb_checkpoints',
 'docker-compose.yaml',
 'Dockerfile',
 'ingest_data.py',
 'ny_taxi_postgres_data',
 'pipeline.py',
 'services',
 'taxi_zone_lookup.csv',
 'upload-data.ipynb',
 'yellow_tripdata_2019-01.csv']

In [68]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [69]:
df_zones.to_sql(name='zones',con=engine,if_exists='replace')

265